.page{
  text-align: center;
  background: #0a2115;
}

.font{
  background: #0a2115;
  padding-top: auto;
  color: white;
}
.title{
  text-align: center;
  background-color: #1c7430;
  color: white;
}
.supr{
  color:white;
  background: #0a2115;
}
.contenu{
  margin-right: auto;
  background: #0a2115;
}
.counter{
  color:white;
}